{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %}
<style>
    .fw-normal{
        color: #35b6b4;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal  fs-4 text-uppercase mb-4"> <b> Appointment form</b></h3>
            </div>
            <form action="">
                <div class="row g-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Full Name" required>
                    </div>
                    
                    <div class="col-md-6">
                        <input type="tel" class="form-control" placeholder="Phone Number" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Enter Email" required>
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control" placeholder="Enter Date" required>
                    </div>
                    <!-- <div class="col-md-6">
                        <input type="time" class="form-control" placeholder="Enter time ">
                    </div> -->
                    <div class="col-12">
                        <select class="form-select" required>
                            <option selected>Book An Appointment For</option>
                            <option value="1">Consultancy</option>
                            <option value="2">Lab</option>
                            <option value="3">Internal Medicine</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" placeholder="Message" required></textarea>
                    </div>
                    <div class="col-12 mt-5">                        
                        <button type="submit" class="btn btn-success float-end">Book Appointment</button>
                        <button type="button" class="btn btn-outline-secondary float-end me-2">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}