
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/cart.css">
    <script src="static/checkup1.jpg"></script>
</head>
<body>
    <!-- Navigation Bar-->
    <nav>
        <div class="menu-icon">
           <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
         HEALTIFY
        </div>
        <div class="nav-items">
           <li><a href="#">Health and Nutrition</a></li>
           <li><a href="#">Health Devices</a></li>
           <li><a href="#">Covid Essentials</a></li>
        </div>
        <div class="search-icon">
          <span class="fas fa-search"></span>
       </div>
        
        <form action="#">
           <input type="search" class="search-data" placeholder="Search" required>
           <button type="submit" class="fas fa-search"></button>
        </form>
     </nav>
     </div>
    <div class="wrap cf">
        <!-- <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1> -->
        <div class="heading cf">
          <h1>My Cart</h1>
          <a href="#" class="continue">Continue Shopping</a>
        </div>
        <div class="cart">
          <ul class="cartWrap">
            <li class="items odd">
              
          <div class="infoWrap"> 
              <div class="cartSection">
              <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>
              
                 <p> <input type="text"  class="qty" placeholder="3"/> x &#8377; 5.00</p>
              
                <p class="stockStatus"> In Stock</p>
              </div>  
          
              
              <div class="prodTotal cartSection">
                <p>&#8377; 15.00</p>
              </div>
                    <div class="cartSection removeWrap">
                 <a href="#" class="remove">x</a>
              </div>
            </div>
            </li>
            <li class="items even">
              
             <div class="infoWrap"> 
              <div class="cartSection">
               
              <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>
              
                 <p> <input type="text"  class="qty" placeholder="3"/> x &#8377;5.00</p>
              
                <p class="stockStatus"> In Stock</p>
              </div>  
          
              
              <div class="prodTotal cartSection">
                <p>&#8377;15.00</p>
              </div>
                    <div class="cartSection removeWrap">
                 <a href="#" class="remove">x</a>
              </div>
            </div>
            </li>
            
                  <li class="items odd">
                   <div class="infoWrap"> 
              <div class="cartSection">
                  
              <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>
              
                 <p> <input type="text"  class="qty" placeholder="3"/> x &#8377;5.00</p>
              
                <p class="stockStatus out"> Out of Stock</p>
              </div>  
          
              
              <div class="prodTotal cartSection">
                <p>&#8377;15.00</p>
              </div>
                          <div class="cartSection removeWrap">
                 <a href="#" class="remove">x</a>
              </div>
                    </div>
            </li>
            <li class="items even">
             <div class="infoWrap"> 
              <div class="cartSection info">
                   
              <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>
              
                <p> <input type="text"  class="qty" placeholder="3"/> x &#8377;5.00</p>
              
                <p class="stockStatus"> In Stock</p>
                
              </div>  
          
              
              <div class="prodTotal cartSection">
                <p>&#8377;15.00</p>
              </div>
          
                  <div class="cartSection removeWrap">
                 <a href="#" class="remove">x</a>
              </div>
               </div>
            </li>
            
            
            <!--<li class="items even">Item 2</li>-->
       
          </ul>
        </div>
        
        <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
        <a href="#" class="btn"></a></div>
        
        <div class="subtotal cf">
          <ul>
            <li class="totalRow"><span class="label">Subtotal</span><span class="value">&#8377;35.00</span></li>
            
                <li class="totalRow"><span class="label">Shipping</span><span class="value">&#8377;5.00</span></li>
            
                  <li class="totalRow"><span class="label">Tax</span><span class="value">&#8377;4.00</span></li>
                  <li class="totalRow final"><span class="label">Total</span><span class="value">&#8377;44.00</span></li>
            <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
          </ul>
        </div>
      </div>
</body>
</html>